.navbar {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @media screen and (max-width: 444px) {
    display: flex;
    justify-content: center;
  }
}

.form-control {
  @media screen and (max-width: 444px) {
    width: 100%;
  }
}
.btn {
  @media screen and (max-width: 575px) {
    width: 100%;
  }
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.gallery-item {
  position: relative;
  display: block;
  height: 220px;
  width: 1fr;
  grid-area: 'gallery-item';
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-item:hover,
.gallery-item:focus {
  .stats {
    background-color: rgba(255, 255, 255, 1);
  }

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.stats {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stats-item {
  padding: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

p.stats-item {
  color: rgb(62, 65, 68);
  margin: 0;
  padding: 0;
  //   border-radius: 5px;
}

p.stats-item:hover,
p.stats-item:focus {
  color: rgb(0, 0, 0);
}

.gallery {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item'
    'gallery-item';
  grid-gap: 10px;

  @media screen and (min-width: 631px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'gallery-item gallery-item'
      'gallery-item gallery-item'
      'gallery-item gallery-item'
      'gallery-item gallery-item'
      'gallery-item gallery-item'
      'gallery-item gallery-item';
  }

  @media screen and (min-width: 1240px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'gallery-item gallery-item gallery-item gallery-item'
      'gallery-item gallery-item gallery-item gallery-item'
      'gallery-item gallery-item gallery-item gallery-item';
  }
}
